.bannerBig {
    border: 1px solid grey;
    position: relative;
    overflow: hidden;
    margin-right: 50px;
}

.bannerSmall {
    position: relative;
    overflow: hidden;
    border: 1px solid white;
    max-width: 350px;
}

.bannerText {
    font-family: Century, serif;
    text-transform: capitalize;
    position: absolute;
    left: 25px;
    top: 15px;
}

.bannerText h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.bannerText h2 {
    color: darkred;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.bannerText p {
    color: darkblue;
    font-weight: 100;
    font-size: 25px;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .bannerText h1 {
        font-size: 25px;
    }
}