.wrap {
    display: flex;
    justify-content: space-around;
}

.bannerBig {
    border: 1px solid grey;
    position: relative;
    overflow: hidden;
    margin-right: 50px;
}

.bannerSmall {
    position: relative;
    overflow: hidden;
}

.bannerText {
    font-family: Century;
    text-transform: capitalize;
    position: absolute;
    left: 25px;
    top: 15px;
}

.bannerText h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.bannerText h2 {
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.bannerText p {
    color: white;
    font-weight: 100;
    font-size: 25px;
    margin: 0;
}