.main {
  display: block;
  width: 200px;
  padding: 30px;
}

h3 {
  margin-left: 10px;
}

hr {
  margin-left: 10px;
  border: 1px solid;
  width: 18rem;
}

.wrap {
  margin-left: 10px;
}

.frame {
  width: 16rem;
  flex-direction: row;
  border: none;

  &__card {
    border: 1px solid #0dcaf0;
  }
}

.subtitle {
  font-size: 14px;
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.text {
  color: red;
}

@media screen and (max-width: 320px) {
  .main {
    width: 200px;
    padding: 5px;
  }

  hr {
    margin-left: 10px;
    border: 1px solid;
    width: 15rem;
  }
}