.tabs {
  display: block;
  width: 950px;
  padding: 30px;
}

.card--left {
  margin-right: 25px;
}

.card--center {
  margin-right: 25px;
  margin-left: 25px;
}

.card--right {
  margin-left: 25px;
}

.subtitle {
  font-size: 14px;
}

.link {
  text-decoration: none;
}