@import './assets/mixins';

.app {
  //display: grid;
  //grid-template-areas:
  //"h h"
  //"n c";
  //grid-template-rows: 70px 1fr;
  background-color: #f5f5f5;
  @include respond(small-phone) {
    //display: block;
  }
}

.sidebar {
  display: flex;
  justify-content: space-between;
  //grid-area: n;
}

.promo__menu {
  max-width: 300px;
}

.promo {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.app-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

*Card {
  text-decoration: none;
}

.box {
  max-width: 1440px;
  margin: 0 auto;
}
